body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

button a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-title {
  text-align: center;
  background-image: url("images/wallpaper.jpeg");
}

.main-title-p {
  text-align: center;
}
